[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=IPython Notebook
Comment=IPython Notebook
Categories=Application;Education;Geography;
Exec=firefox http://localhost:8883
Icon=/usr/local/share/jupyter/ipynb.png
Terminal=false
StartupNotify=false
MimeType=application/x-ipynb+json;
