[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Start IPython Notebook
Comment=IPython Notebook
Categories=Application;Education;Geography;
Exec=gnome-terminal -x /usr/local/bin/ipython_grass.sh
Icon=/usr/local/share/jupyter/ipynb.png
Terminal=false
StartupNotify=false
