[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jupyterhub
Comment=Jupyterhub
Categories=Application;Education;Geography;
Exec=firefox http://localhost:8888
Icon=ipython
Terminal=false
StartupNotify=false
MimeType=application/x-ipynb+json;
