[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jupyter Notebook
Comment=Jupyter Notebook
Categories=Application;Education;Geography;
Exec=firefox http://localhost:8883
Icon=Icon=/usr/local/share/jupyter/jupyter.png
Terminal=false
StartupNotify=false
MimeType=application/x-ipynb+json;
