
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Start GeoNetwork
Comment=
Categories=Application;
Exec=docker start geonetwork
Icon=/usr/local/lib/geonetwork/bin/ico/gnstart.ico
Terminal=false
StartupNotify=false
GenericName=
