
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Stop GeoNetwork
Comment=
Categories=Application;
Path=/usr/local/lib/geonetwork/bin
Exec=/usr/local/lib/geonetwork/bin/stop-geonetwork.sh
Icon=/usr/local/lib/geonetwork/bin/ico/gnstop.ico
Terminal=false
StartupNotify=false
GenericName=
