
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Stop GeoNetwork
Comment=
Categories=Application;
Exec=docker stop geonetwork
Icon=/usr/local/share/icons/geonetwork_icon.png
Terminal=false
StartupNotify=false
GenericName=
