/* cbedi1_abs.css */
.CBE {
  position:absolute;
  visibility:hidden;
  margin:0;
  width:75%; /* for nn4 */
}
a.m {
  display:block;
  text-decoration:none;
}
a.m:hover {
  display:block;
  text-decoration:none;
}
