
[Desktop Entry]
Version=1.1
Name=ipython-notebook
Comment=IPython Notebook
Exec=/usr/local/bin/ipython_grass.sh
Icon=ipython
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;
GenericName=
Path=
