[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Open Jump
Comment=
Categories=Application;
Exec=openjump
Icon=/usr/lib/openjump-1.4.0/openjump.ico
Terminal=false
StartupNotify=false
GenericName=
