[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=OpenJUMP
Comment=
Categories=Application;
Exec=openjump
Icon=/usr/lib/openjump-core-1.5.0/openjump.ico
Terminal=false
StartupNotify=false
GenericName=
