<!-- MapServer Template -->
<font size+1><b>Layer: mcd90py2</b></font><p>
<table cellpadding=5 cellspacing=2 border=0>
<tr bgcolor=#CCCCCC><td bgcolor=#ffffff>&nbsp;</td><th>MCD</th><th>AREA</th><th>PERIMETER</th><th>COUNTY</th><th>NAME</th><th>CITY_NAME</th><th>TOTAL</th><th>WHITE</th><th>BLACK</th><th>AMERIND</th><th>ASIAN</th><th>OTHER</th><th>TOTAL18_</th><th>WHITE18_</th><th>BLACK18_</th><th>AMERIND18_</th><th>ASIAN18_</th><th>OTHER18_</th><th>HISPANIC</th><th>NHISPANIC</th><th>NHWHITE</th><th>NHBLACK</th><th>NHAMERIND</th><th>NHASIAN</th><th>NHOTHER</th><th>HISPANIC18</th><th>NHISPANIC1</th><th>NHWHITE18_</th><th>NHBLACK18_</th><th>NHAMERIND1</th><th>NHASIAN18_</th><th>NHOTHER18_</th><th>MCDCHAR</th><th>LMCD</th><th>ACRES</th><th>PERFEET</th><th>XUTM</th><th>YUTM</th></tr>
