
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GeoNetwork
Comment=
Categories=Application;
Exec=firefox http://localhost:8880/geonetwork
Icon=/usr/lib/geonetwork/bin/ico/gn.ico
Terminal=false
StartupNotify=false
GenericName=
