
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Start GeoNetwork
Comment=
Categories=Application;
Path=/usr/lib/geonetwork/bin
Exec=dash /home/user/launchassist.sh /usr/lib/geonetwork/bin/start-geonetwork.sh
Icon=/usr/lib/geonetwork/bin/ico/gnstart.ico
Terminal=false
StartupNotify=false
GenericName=
