
[Desktop Entry]
Encoding=UTF-8
Name=gvSIG
Comment=gvSIG
Comment[es]=aiba gvSIG !!
Exec=/opt/gvSIG/bin/gvSIG.sh %F
Icon=ico-gvSIG.png
Terminal=false
Type=Application
Categories=Application;Utility;
MimeType=application/x-gvsig;
Comment[es_ES.UTF-8]=Open gvSIG
