[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jupyter/IPython Notebook
Comment=Jupyter/IPython Notebook
Categories=Application;Education;Geography;
Exec=firefox http://localhost:8883
Icon=jupyter
Terminal=false
StartupNotify=false
MimeType=application/x-ipynb+json;
