[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jupyter Notebook
Comment=Jupyter Notebook
Categories=Application;Education;Geography;
Exec=/usr/local/bin/jupyter_start.sh
Icon=jupyter
Terminal=true
StartupNotify=false
