[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jupyter Notebook
Comment=Jupyter Notebook
Categories=Application;Education;Geography;
Exec=firefox http://localhost:8883/notebooks/index.ipynb
Icon=jupyter
Terminal=false
StartupNotify=false
MimeType=application/x-ipynb+json;
