[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Start Jupyter/IPython Notebook
Comment=Jupyter/IPython Notebook
Categories=Application;Education;Geography;
Exec=/usr/local/bin/jupyter_net_start.sh
Icon=jupyter
Terminal=true
StartupNotify=false
